PORT=3333
DATABASE_URL_MONGO=
DATABASE_URL_POSTGRES=postgresql://admin:admin@localhost:5432/portfolio_auth
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL=
